canvas
{
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	position: absolute;
}

@media(min-aspect-ratio: 4/3)
{
	canvas
	{
		height: 100vh;
		width: 133.33vh;
	}
}

@media(max-aspect-ratio: 4/3)
{
	canvas
	{
		width: 100vw;
		height: 75vw;
	}
}



#game
{
	font-family: goldfish;
}

@font-face
{
	font-family: goldfish;
	src: url("./goldfish.ttf") format("truetype");
}